<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.bggoranoff.qchess">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chess_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chess_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QChess">
        <activity android:name=".GameActivity"></activity>
        <activity android:name=".LobbyActivity" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".ManualActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".IconsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>